body {
    background-image: url('https://img.freepik.com/premium-photo/chess-isolated-white_127657-19861.jpg?w=996');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#myDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    width: 600px;
    /*    height: 500px; */
}

#my_grade {
    font-size: 20px;
}

#score {
    font-size: 20px;
}

#timer_text {
    font-size: 20px;
}

#timer {
    position: fixed;
    top: 50%;
    left: 10%;
    margin-top: -10px;
    margin-left: -10px;
    width: 30px;
}
